.container {
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    color: #ddecfc;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    color: #edf6fd;
    margin-bottom: 1.5rem;
    text-align: center;
}

.api-container {
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 100%; /* Optional: Ensures the container height matches its parent */
}

.api-container a {
    padding: 1rem;
    background-color: #434e5a;
    border: 2px solid transparent; /* Set transparent border initially */
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    margin: 10px;
    width: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.api-container a:hover {
    background-color: #273544; /* Darker background on hover */
    transform: scale(1.05); /* Slightly increase size for emphasis */
    border: 2px solid #00b4d8; /* Add a light border color on hover */
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
    transition: all 0.3s ease; /* Ensure transition is smooth */
}
