<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeltaX - The Data Professor</title>
    <link rel="stylesheet" href="static/css/home.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>DeltaX</h1>
        <h6>The Data Professor</h6>
    </div>

    <div class="card-container">
        <div class="card">
            <div class="lottie-animation" id="lottie-eda"></div>
            <h4>EDA</h4>
            <p>Visualize and understand your data better with comprehensive EDA tools.</p>
        </div>
        <div class="card">
            <div class="lottie-animation" id="lottie-preprocessing"></div>
            <h4>Data Preprocessing</h4>
            <p>Clean and prepare your data for analysis seamlessly.</p>
        </div>
        <div class="card">
            <div class="lottie-animation" id="lottie-database"></div>
            <h4>Files Connectivity</h4>
            <p>Easily upload CSV, TSV, and Excel files for EDA and more.</p>
        </div>
        <div class="card">
            <div class="lottie-animation" id="lottie-database"></div>
            <h4>Database Connectivity</h4>
            <p>Connect to MySQL, PostgreSQL, SQLite.</p>
        </div>
    </div>

</body>
</html>
